$primary: #1266f1;
$secondary: #6c757d;
$success: #00b74a;
$info: #39c0ed;
$warning: #ffa900;
$danger: #f93154;
$light: #fbfbfb;
$dark: #262626;

$link-color: #fbfbfb;

@import '../../node_modules/mdb-ui-kit/src/scss/mdb.free.scss';
