@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
	--header-height: 3rem;
	--nav-width: 75px;
	--first-color: #ffffff;
	--first-color-light: #AFA5D9;
	--white-color: #F7F6FB;
	--body-font: 'Nunito', sans-serif;
	--normal-font-size: 1rem;
	--z-fixed: 100;
	--mdb-secondary: #6c757d;
}

::selection {
	background-color: #0dcaf0;
	color: white;
}

* {
	box-sizing: border-box
}

body {
	position: relative;
	margin: var(--header-height) 0 0 0;
	padding: 0 1rem;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	transition: .5s;
}

a {
	text-decoration: none
}

.header {
	width: 100%;
	height: var(--header-height);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	background-color: var(--white-color);
	z-index: var(--z-fixed);
	transition: .5s
}

.header-toggle {
	color: var(--first-color);
	font-size: 1.5rem;
	cursor: pointer
}

.header-img {
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden
}

.header-img opacityimg {
	width: 40px
}

.l-navbar {
	position: fixed;
	top: 0;
	left: -30%;
	width: var(--nav-width);
	height: 100vh;
	background-color: var(--first-color);
	padding: .5rem 1rem 0 0;
	transition: .5s;
	z-index: var(--z-fixed)
}

.nav {
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden
}

.nav-name {
	will-change: opacity;
    transition: opacity 0.5s;
    opacity: 1;
	white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Set overflow to hidden during the animation */
}

.nav-logo,
.nav-link {
	display: grid;
	grid-template-columns: max-content max-content;
	align-items: center;
	column-gap: 1rem;
	padding: 0 0 0 1.5rem
}

.nav-logo {
	margin-bottom: 2rem
}

.nav-logo-icon {
	font-size: 1.25rem;
	color: var(--white-color)
}

.nav-logo-name {
	color: var(--white-color);
	font-weight: 700
}

.nav-link {
	margin-bottom: .5rem;
}

.nav-link,
.nav-top {
	position: relative;
	color: var(--first-color-light);
	transition: .3s
}

.accordion-button:not(.collapsed) {
	color: var(--white-color);
}

.accordion-button:is(.collapsed) {
	color: var(--first-color-light);
}

/* Style to remove border and background color of the accordion items */
.accordion-item {
	border: none;
	background: none;
}

/* Style to remove the border of the accordion headers */
.accordion-button {
	border: none;
}

/* Style to remove the border of the accordion collapse content */
.accordion-collapse {
	border: none;
}

/* Style to change the color of the accordion headers when collapsed */
.accordion-button.collapsed {
	background-color: transparent; /* Change the background color when collapsed */
}
  
.accordion-button.collapsed::after,
.accordion-button:not(.collapsed)::after {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23afa5d9'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	display: none;	/* set display to block to show accordion arrow */
}

.accordion-collapse.collapse.show {
	width: fit-content;
}

.nav-link:hover,
.nav-top:hover {
	color: var(--white-color)
}

.nav-icon {
	font-size: 1.25rem
}

.show {
	left: 0
}

.body-pd {
	padding-left: calc(var(--nav-width) + 1rem)
}

.active {
	color: var(--white-color)
}

.active::before {
	content: '';
	position: absolute;
	left: 0;
	width: 2px;
	height: 32px;
	background-color: var(--white-color)
}

.height-100 {
	height: 100vh
}

.container {
	max-width: 80vw;
}

#statistikBar {
	width: 250px;
}

#statistikBar .accordion-button:is(.collapsed) {
	color: black;
}

#statistikBar .accordion-button:not(.collapsed) {
	color: black;
}

#statistikBar {
	border-radius: 0%;
	width: 250px;
}

@media screen and (min-width: 0) {
	body {
		margin: calc(var(--header-height) + 1rem) 0 0 0;
		padding-left: calc(var(--nav-width) + 2rem)
	}

	.header {
		height: calc(var(--header-height) + 1rem);
		padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
	}

	.header-img {
		width: 40px;
		height: 40px
	}

	.header-img img {
		width: 45px
	}

	.l-navbar {
		left: 0;
		padding: 1rem 1rem 0 0
	}

	.show {
		width: calc(var(--nav-width) + 210px)
	}

	.body-pd {
		padding-left: calc(var(--nav-width) + 232px)
	}
}

#statistikBar {
    width: 250px;
}

#statistikBar .accordion-button:is(.collapsed) {
    color: black;
}

#statistikBar .accordion-button:not(.collapsed) {
    color: black;
}

#statistikBar {
    border-radius: 0%;
    width: 250px;
}

.button-container {
    display: flex; /* Use flexbox to align buttons horizontally */
    justify-content: space-between; /* Spread the buttons horizontally with space between them */
    margin-top: 10px; /* Add some space between the buttons and the form fields above */
}

.sortable:hover {
    cursor: pointer;
	background-color: #495057;
	transition: .3s;
}

.profile-picture-container {
	position: relative;
	overflow: hidden;
}

.profile-picture-container img {
	width: 100%;
	height: auto;
	object-fit: cover; /* This property ensures the image covers the container, stretching or shrinking as needed */
}

.accordion-custom {
	max-width: 200px;
}

.tooltip {
	width: fit-content;
}

.table-striped>tbody>tr:nth-of-type(odd):hover {
    --mdb-table-accent-bg: var(--mdb-table-striped-bg);
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--mdb-table-striped-color);
}

.table {
    --mdb-table-bg: transparent;
    --mdb-table-striped-color: #212529;
    --mdb-table-striped-bg: rgba(0, 0, 0, 0.05);
    --mdb-table-active-color: #212529;
    --mdb-table-active-bg: rgba(0, 0, 0, 0.1);
    --mdb-table-hover-color: #212529;
    --mdb-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #e0e0e0;
}

.btn-link:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

/* Hide the default scroll bar */
::-webkit-scrollbar {
	width: 10px; /* Set the width of the vertical scrollbar */
	height: 10px; /* Set the height of the horizontal scrollbar */
}
  
/* Track (the area on the side of the content) */
::-webkit-scrollbar-track {
	background: #f1f1f1; /* Background color of the track */
	border-radius: 10px;
}
  
/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
	background: #c7c7c7; /* Color of the scrollbar handle */
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal{
	background: #c7c7c7; /* Color of the scrollbar handle */
	border-radius: 10px;
}
  
/* On hover, the handle will change color */
::-webkit-scrollbar-thumb:hover {
	background: #b1b1b1;
}
::-webkit-scrollbar-thumb:hover:horizontal{
	background: #b1b1b1;
}

/* On click/drag, the handle will change color */
::-webkit-scrollbar-thumb:active {
	background: #888888;
}
::-webkit-scrollbar-thumb:active:horizontal{
	background: #888888;
}

#scrollable-sidebar::-webkit-scrollbar {
	display: none;
}

.invalid-feedback, .invalid-tooltip {
	position: relative;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23f93154'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23f93154' stroke='none'/%3E%3C/svg%3E");
}

.btn-secondary {
	background-color: #6c757d;
    border-color: #6c757d
}

.btn-check:focus+.btn-secondary,.btn-secondary:focus,.btn-secondary:hover {
    background-color: #495057;
    border-color: #6c757d
}

.btn-check:focus+.btn-secondary,.btn-secondary:focus {
    -webkit-box-shadow: 0 0 0 .25rem rgba(151,51,215,.5);
    box-shadow: 0 0 0 .25rem rgba(151,51,215,.5)
}

.btn-check:active+.btn-secondary,.btn-check:checked+.btn-secondary,.btn-secondary.active,.btn-secondary:active,.show>.btn-secondary.dropdown-toggle {
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-check:active+.btn-secondary:focus,.btn-check:checked+.btn-secondary:focus,.btn-secondary.active:focus,.btn-secondary:active:focus,.show>.btn-secondary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 .25rem rgba(151,51,215,.5);
    box-shadow: 0 0 0 .25rem rgba(151,51,215,.5)
}

.btn-secondary.disabled,.btn-secondary:disabled {
    border-color: #6c757d
}