@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

body {
    font-family: 'Nunito', sans-serif;
}

.carousel-item h5 {
    font-weight: bold;
}

.carousel-item {
    height: 30em;
    background-color: grey;
}

.carousel-item img {
    filter: brightness(50%);
}

.form-control {
    border-radius: 50px 0 0 50px !important;
}

#searchbtn {
    border-radius: 0 50px 50px 0 !important;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 6em; /* Adjust this value to control the number of lines */
}
  
.card-text p {
    margin: 0; /* Remove any margin to prevent extra spacing */
}
  
.card-text p:last-child {
    margin-bottom: 0; /* Remove margin at the bottom if needed */
}

.spacer {
    flex: 1;
    margin-top: 2.5em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}